.end-screen {
    position: relative;
    top: 0;
    width: 600px;
    height: 1000px;
    display: none;
    z-index: 99999;
    text-align: center;
    color: #fff;
    padding-top: 150px;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 800px;
    height: 213px;
    background: url('../images/logo_en.png') center / contain no-repeat;
}


#win-score-label {
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translateX(-50%);
    font-size: 36px;
}

#win-screen #win-score-label {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.8s;
}

#win-score-circle {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translateX(-50%);
    width: 173px;
    height: 173px;
    border-radius: 50%;
    background: url('../images/einstein.png') center / contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#win-score-text {
    font-size: 60px;
    color: #f09b1c;
}

.end-button {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    width: 292px;
    height: 86px;
    background-image: url('../images/button_green.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.btn-next, .btn-retry {
    display: inline-flex;
    align-items: center;
    transform: translateX(-5px) translateY(17px);
}
.btn-next::before, .btn-retry::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
.btn-next::before {
    margin-right: -3px;
    background-image: url('../images/play.png');
}
.btn-retry::before {
    margin-right: 5px;
    background-image: url('../images/reload.png');
}

#lose-progress-bar {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 48px;
    background-color: #371279;
    border: none;
    border-radius: 7px;
}

#lose-progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #8ec515;
    transition: width 0.5s ease-in-out;
    border: none;
    border-radius: 7px;
}

#lose-score-green {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 53px;
    height: 53px;
    background: url("../images/score_green.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transition: left 0.5s ease-in-out;
    z-index: 10000;
}

#lose-score-end {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 80px;
    height: 80px;
    background: url("../images/einstein.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
    border-radius: 24px;
    z-index: 10001;
}

#lose-subtitle {
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translateX(-50%);
    font-size: 55px;
    white-space: nowrap;
    visibility: hidden;
}

#lose-score-text {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    font-size: 36px;
    visibility: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}

.win-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #560FB2 0%, #823BE0 100%) no-repeat center/cover fixed;
    z-index: 9999;
}

#win-screen {
    display: none;
}

#win-screen .logo {
    opacity: 0;
    animation: scaleIn 0.5s ease forwards;
    animation-delay: 0.3s;
}

#win-screen #win-score-circle {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 1.3s;
}

#win-screen .end-button {
    opacity: 0;
    animation: scaleIn 0.5s ease forwards;
    animation-delay: 1.8s;
}

#lose-screen {
    display: none;
}

#lose-screen .logo {
    opacity: 0;
    animation: scaleIn 0.5s ease forwards;
    animation-delay: 0.3s;
}

#lose-screen #lose-progress-bar {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 1.8s;
}

#lose-score-green-text {
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    user-select: none;
}

#lose-screen .end-button {
    opacity: 0;
    animation: scaleIn 0.5s ease forwards;
    animation-delay: 2.3s;
}

.lose-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #6A1B9A 0%, #8E24AA 65%, #BA68C8 100%) no-repeat center/cover fixed;
    z-index: 9999;
}

.win-circle-subtitle {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.3;
}

.win-circle-subtitle--highlight {
    color: #daa33d;
}