* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: 'BryndanWrite';
    src: url('../fonts/bryndan_write_fix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button, input, select, textarea {
    font-family: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: 'BryndanWrite', sans-serif;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    touch-action: none;
}

#game-container {
    position: relative;
    width: 600px;
    height: 1000px;
    bottom: 6vh;
}

#coin-container {
    position: fixed;
    top: 20px;
    left: 20px;
    transform-origin: top left;
    width: 120px;
    height: 30px;
    background: url('../images/menubar_bg.png') no-repeat center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    z-index: 1000;
}

#coin-icon {
    width: 50px;
    height: 50px;
    margin-right: 0;
    transform: translateX(-20px);
    background-image: url('../images/coin.png');
    background-size: cover;
    background-position: center;
}

#coin-count {
    font-size: 28px;
    color: #333;
    transform: translateX(-5px);
}

#gold-container {
    position: fixed;
    top: 20px;
    left: 180px;
    transform-origin: top left;
    width: 120px;
    height: 30px;
    background: url('../images/menubar_bg.png') no-repeat center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    z-index: 1000;
}

#gold-icon {
    width: 50px;
    height: 60px;
    margin-right: 0;
    transform: translateX(-20px);
    background-image: url('../images/ruby.png');
    background-size: cover;
    background-position: center;
}

#gold-count {
    font-size: 28px;
    color: #333;
    transform: translateX(3px);
}

.coin-animation {
    position: absolute;
    font-size: 24px;
    color: gold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    pointer-events: none;
}

.coin-delta {
    position: absolute;
    font-size: 24px;
    color: white;
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s ease, opacity 1s ease;
    pointer-events: none;
    z-index: 1000;
}

#playing-field {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    width: 560px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #000;
    border: 4px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #371279;
    position: relative;
    border: 1px solid #2a0e5d;
}

.cell.filled {
    background-color: transparent;
}

.crystal {
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: contain;
    z-index: 1;
    background-image: url('../images/crystal.png');
}

.block {
    width: 100%;
    height: 100%;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block.blue {
    background-image: url('../images/blue.png');
}

.block.red {
    background-image: url('../images/red.png');
}

.block.yellow {
    background-image: url('../images/yellow.png');
}

.block.cyan {
    background-image: url('../images/cyan.png');
}

.block.green {
    background-image: url('../images/green.png');
}

.block.orange {
    background-image: url('../images/orange.png');
}

.block.purple {
    background-image: url('../images/purple.png');
}

.burn-scale {
    animation: burnScaleEffect 200ms ease-out forwards;
}

@keyframes burnScaleEffect {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.5; }
    100% { transform: scale(0); opacity: 0; }
}

.highlight, .burn-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.burn-highlight {
    opacity: 1;
}

.highlight.blue, .burn-highlight.blue {
    background-image: url('../images/blue.png');
}
.highlight.red, .burn-highlight.red {
    background-image: url('../images/red.png');
}
.highlight.yellow, .burn-highlight.yellow {
    background-image: url('../images/yellow.png');
}
.highlight.cyan, .burn-highlight.cyan {
    background-image: url('../images/cyan.png');
}
.highlight.green, .burn-highlight.green {
    background-image: url('../images/green.png');
}
.highlight.orange, .burn-highlight.orange {
    background-image: url('../images/orange.png');
}
.highlight.purple, .burn-highlight.purple {
    background-image: url('../images/purple.png');
}

.highlight.crystal, .burn-highlight.crystal {
    position: relative;
    width: 50%;
    height: 50%;
    background-size: contain;
    z-index: 1;
}

#shapes-container {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 624px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

@media (max-width: 450px) {
    #shapes-container {
        bottom: 0vh;
    }
}

.shape {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: grab;
    touch-action: none;
}

.shape-slot {
    flex: 1 1 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    min-width: 120px;
    box-sizing: border-box;
}

.shape .block {
    width: 30px;
    height: 30px;
    position: relative;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.dragging {
    visibility: hidden;
}

.shape .block > .crystal {
    width: 70%;
    height: 70%;
}

#tutorialFinger {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    width: 117px;
    height: 123px;
    background-image: url("../images/finger.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.tutorial-shape {
    position: absolute;
    pointer-events: none;
    display: grid;
    z-index: 1000;
}

#progress-bar-container {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 40px;
    background-color: #371279;
    border: none;
    border-radius: 7px;
}

@media (max-width: 450px) {
    #progress-bar-container {
        top: 120px;
    }
}

#progressbar-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #8ec515;
    transition: width 0.5s ease-in-out;
    border: none;
    border-radius: 7px;
}

#score-green {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 53px;
    height: 53px;
    background: url("../images/score_green.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transition: left 0.5s ease-in-out;
    z-index: 10000;
}

#score-end {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 80px;
    height: 80px;
    background: url("../images/einstein.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
    border-radius: 32px;
    z-index: 11001;
}

.score-text {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    user-select: none;
}

.score-text-green {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    user-select: none;
}

.iq-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    user-select: none;
}

#bottom-stripe {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 11000;
}

#bottom-stripe .free-label {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: clamp(18px, 2vw, 24px);
}

#bottom-stripe .free-label .free-icon {
    width: 40px;
    height: 40px;
    background: url('../images/icon_block.png') no-repeat center center;
    background-size: cover;
    margin-right: 10px;
}

#bottom-stripe .install-btn button {
    background: url('../images/button_green.png') no-repeat center center;
    background-size: cover;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    -webkit-appearance: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

@media (max-height: 800px) {
    #bottom-stripe .free-label .free-icon {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }

    #bottom-stripe .install-btn button {
        width: 80px;
        height: 30px;
        font-size: clamp(14px, 2vw, 18px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}