* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    touch-action: none;
}

#game-container {
    position: relative;
    width: 600px;
    height: 1000px;
}

#coin-container {
    position: fixed;
    top: 20px;
    left: 20px;
    transform-origin: top left;
    width: 120px;
    height: 30px;
    background: url('images/menubar_bg.png') no-repeat center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    z-index: 1000;
}

#coin-icon {
    width: 50px;
    height: 50px;
    margin-right: 0;
    transform: translateX(-20px);
    background-image: url('images/coin.png');
    background-size: cover;
    background-position: center;
}

#coin-count {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.coin-animation {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: gold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    pointer-events: none;
}

.coin-delta {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: white;
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s ease, opacity 1s ease;
    pointer-events: none;
    z-index: 1000;
}

#playing-field {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 504px;
    height: 504px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #000;
    border: 4px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #371279;
    position: relative;
    border: 1px solid #2a0e5d;
}

.cell.filled {
    background-color: transparent;
}

.crystal {
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: contain;
    z-index: 1;
    background-image: url('images/crystal.png');
}

.block {
    width: 100%;
    height: 100%;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block.blue {
    background-image: url('images/blue.png');
}

.block.red {
    background-image: url('images/red.png');
}

.block.yellow {
    background-image: url('images/yellow.png');
}

.burn {
    animation: burnAnimation 0.5s ease-in-out;
}

@keyframes burnAnimation {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.5; }
    100% { transform: scale(0); opacity: 0; }
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.highlight.blue {
    background-image: url('images/blue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.highlight.red {
    background-image: url('images/red.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.highlight.yellow {
    background-image: url('images/yellow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.highlight .crystal {
    position: relative;
    width: 50%;
    height: 50%;
    background-size: contain;
    z-index: 1;
}

#shapes-container {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 520px;
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('images/pieces_bg.png') no-repeat center center;
    background-size: cover;
    padding: 10px 0;
}

.shape {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: grab;
    touch-action: none;
}

.shape .block {
    width: 30px;
    height: 30px;
    position: relative;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.dragging {
    visibility: hidden;
}

.shape .block > .crystal {
    width: 70%;
    height: 70%;
}

#tutorialFinger {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    width: 117px;
    height: 123px;
    background-image: url("images/finger.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.tutorial-shape {
    position: absolute;
    pointer-events: none;
    display: grid;
    z-index: 1000;
}

#progress-bar-container {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    background-color: #371279;
    border: none;
    border-radius: 7px;
}

#progressbar-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #8ec515;
    transition: width 0.5s ease-in-out;
    border: none;
    border-radius: 7px;
}

#score-green {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: url("images/score_green.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transition: left 0.5s ease-in-out;
    z-index: 10000;
}

#score-end {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 48px;
    height: 48px;
    background-color: #371279;
    background-size: contain;
    pointer-events: none;
    border-radius: 24px;
}

.score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    user-select: none;
}

.end-screen {
    position: relative;
    top: 0;
    width: 600px;
    height: 1000px;
    display: none;
    z-index: 99999;
    text-align: center;
    color: #fff;
    padding-top: 210px;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 800px;
    height: 213px;
    background: url('images/logo_en.png') center / contain no-repeat;
}


#win-score-label {
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translateX(-50%);
    font-size: 28px;
}

#win-score-circle {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translateX(-50%);
    width: 173px;
    height: 173px;
    border-radius: 50%;
    background: url('images/score_end.png') center / contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


#win-score-text {
    font-size: 60px;
    font-weight: bold;
    color: #f09b1c;
}

.end-button {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    width: 292px;
    height: 86px;
    background-image: url('images/button_green.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    cursor: pointer;
    text-align: center;
    line-height: 86px;
    font-size: 30px;
    color: #fff;
}

#btn-next-level::before,
#btn-retry::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

#btn-next-level::before {
    background-image: url('images/play.png');
}

#btn-retry::before {
    background-image: url('images/reload.png');
}

#lose-progress-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    background-color: #371279;
    border: none;
    border-radius: 7px;
}

#lose-progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #8ec515;
    transition: width 0.5s ease-in-out;
    border: none;
    border-radius: 7px;
}

#lose-score-green {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: url("images/score_green.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
    transition: left 0.5s ease-in-out;
    z-index: 10000;
}

#lose-score-end {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    width: 48px;
    height: 48px;
    background-color: #371279;
    background-size: contain;
    pointer-events: none;
    border-radius: 24px;
}

#lose-score-text {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translateX(-50%);
    font-size: 26px;
}

#bottom-stripe {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 11000;
}

#bottom-stripe .free-label {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: clamp(16px, 2vw, 20px);
}

#bottom-stripe .free-label .free-icon {
    width: 40px;
    height: 40px;
    background: url('images/icon_block.png') no-repeat center center;
    background-size: cover;
    margin-right: 10px;
}

#bottom-stripe .install-btn button {
    background: url('images/button_green.png') no-repeat center center;
    background-size: cover;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    -webkit-appearance: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
