* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    touch-action: none;
}

#game-container {
    position: relative;
    width: 600px;
    height: 1000px;
}

#coin-container {
    position: fixed;
    top: 20px;
    left: 20px;
    transform-origin: top left;
    width: 120px;
    height: 30px;
    background: url('../images/menubar_bg.png') no-repeat center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    z-index: 1000;
}

#coin-icon {
    width: 50px;
    height: 50px;
    margin-right: 0;
    transform: translateX(-20px);
    background-image: url('../images/coin.png');
    background-size: cover;
    background-position: center;
}

#coin-count {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.coin-animation {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: gold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    pointer-events: none;
}

.coin-delta {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: white;
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s ease, opacity 1s ease;
    pointer-events: none;
    z-index: 1000;
}

#goals-container {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/goals_bg.png') no-repeat center center;
    background-size: contain;
    padding: 0 10px;
}

.goal {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.goal span {
    color: white;
}

.goal-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-size: contain;
    background-image: url('../images/crystal.png');
}

#playing-field {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 504px;
    height: 504px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #000;
    border: 4px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #371279;
    position: relative;
}

.cell.filled {
    background-color: transparent;
}

.crystal {
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: contain;
    z-index: 1;
    background-image: url('../images/crystal.png');
}

.block {
    width: 100%;
    height: 100%;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block.blue {
    background-image: url('../images/blue.png');
}

.block.red {
    background-image: url('../images/red.png');
}

.block.yellow {
    background-image: url('../images/yellow.png');
}

.burn {
    animation: burnAnimation 0.5s ease-in-out;
}

@keyframes burnAnimation {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.5; }
    100% { transform: scale(0); opacity: 0; }
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Убедитесь, что подсветка сверху */
    pointer-events: none; /* Позволяет кликать на ячейки за подсветкой */
    opacity: 0.5; /* Полупрозрачность */
    display: flex;
    justify-content: center;
    align-items: center;
}


.highlight.blue {
    background-image: url('../images/blue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.highlight.red {
    background-image: url('../images/red.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.highlight.yellow {
    background-image: url('../images/yellow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.highlight .crystal {
    position: relative;
    width: 50%;
    height: 50%;
    background-size: contain;
    z-index: 1;
}

#shapes-container {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 520px;
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('../images/pieces_bg.png') no-repeat center center;
    background-size: cover;
    padding: 10px 0;
}

.shape {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: grab;
    touch-action: none;
}

.shape .block {
    width: 30px;
    height: 30px;
    position: relative;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.dragging {
    visibility: hidden;
}

.shape .block > .crystal {
    width: 70%;
    height: 70%;
}

.tutorial-shape {
    position: absolute;
    pointer-events: none;
    display: grid;
    z-index: 1000;
}
